
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.contenedor{
	height: 150px;
	background: #ee9ca7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-collapse: separate;
     border-spacing: 40;
    border: 1px solid pink;
}
#logo{
	width: 100px;
	height: 100px;
}

#titulo{
	font-size:70px;
	font-family: 'Pacifico', cursive;


}
.buscar {
	float: right;
  padding: 5px;
  margin-right: 30px;

}

.buscar input {
  width: 0;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #222;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
  transition: all 0.6s ease;

}



.buscar:hover input {
  width: 240px;
}

.buscar input:focus {
  width: 240px;
}

.wave{
	position: absolute;
	bottom: 505px;
	width: 100%;
}



#lupa{
	
	margin-bottom: 20px;
	max-height: 30px;
	max-width: 30px;

}

#face{
	margin-left: 390px;
	max-height: 30px;
	max-width: 30px;
	margin-bottom: 20px;
}

#insta{
	max-height: 30px;
	max-width: 30px;
	margin-bottom: 20px;
}

#whatsapp{
	max-height: 30px;
	max-width: 30px;
	margin-bottom: 20px;
}


#primer{
	max-height: 70px;
	max-width: 70px;
	margin-top: 5px;
}

.navegacion{
	display: block;
	justify-content: center;
	margin: auto;
	font-size: 20px;
	margin-top: 50px;
}
#color{
	height: 100px;
	width: 100%;
	margin-top: 80px;
	background: #12c2e9 ;
  	background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  	background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); 
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	background-size: cover;
  	background-position: center;
   	border-radius: 60px;
}
.menu a{
	font-family: 'Fredoka One', cursive;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	margin: 30px;
	display: block;
	padding: 15px 20px;
}



ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	grid-gap: 70px;

}




.container{
	width: 60%;
	height: 800px;
	margin-top: 20px;
	float: right;

}

.titulo{
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	margin-top: 20px;
	text-align: center;
	background-color: pink;
	opacity: 0.5;

}

.container .video {
	margin-top: 50px;
	display: flex;
	width: 200px;
	height: 400px;
	margin-left: 80px;

	
}


.card{
	margin-left: 100px;
	margin-top: 70px;
	width: 400px;
	border-radius: 8px;
	overflow: hidden;
	background: #fff
	box-shadow: 0px 1px 10px rgba (0,0,0,0.2);
	cursor:default;
	transition: all 400ms ease;

	
}

 .card:hover{
	box-shadow: 5px 5px 20px rgba (0,0,0,0.4);
	transform: translateY(-3%);

}
 .card img{
	width: 400px;
	height: 300px;
}

.card .conten{
	padding: 15px;
	text-align: justify;
}
 .card .conten p{
	line-height: 1.5;
	color: #6a6a6a
}

.card .conten h3{
	font-weight: 400;
	margin-bottom: 15px;
	text-align: center;
}

.card .conten a{

	text-decoration: none;
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	color: #2fb4cc
	
}


.linea{
	width: 100%;
	height: 60px;
	background: #50c9c3; 
  	background: -webkit-linear-gradient(to bottom, #50c9c3, #96deda); 
  	background: linear-gradient(to bottom, #50c9c3, #96deda); 
  	opacity: 0.5;
  	
}

.linea p{
	text-align: center;
	font-size:30px;
	font-family: 'Pacifico', cursive;
	
	
}

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
}


.piedepagina{
	background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box_footer{
    display: flex;
    padding: 40px;
}

.box_footer .logo img{
    width: 100px;
}

.box_footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
 }



.bibli h2{
	margin-left: 250px;
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;

}

.bibli a{
	display: flex;
	margin-left: 250px;
    margin-top: 10px;
    color: #7a7a7a;
 	font-weight: 600;
    text-decoration: none;
}

.bibli a:hover{
    opacity: 0.8;
}



.box_copyright{
	background: #1c92d2; /* fallback for old browsers */
 	background: -webkit-linear-gradient(to top, #1c92d2, #f2fcfe); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to top, #1c92d2, #f2fcfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	opacity: 0.5;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
 
.box_copyright p{
    margin-top: 20px;
    color: #000;
}

#arriba{
	position: absolute;
	margin-left: 20px;
}
